@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-ExtraLight") format("embedded-opentype"),
    url("../assets/fonts/Gotham-ExtraLight.otf") format("opentype"),
    url("../assets/fonts/Gotham-ExtraLight.woff") format("woff"),
    url("../assets/fonts/Gotham-ExtraLight.ttf") format("truetype"),
    url("../assets/fonts/Gotham-ExtraLight.svg#Gotham-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/.otf") format("opentype"),
    url("../assets/fonts/.woff") format("woff"),
    url("../assets/fonts/.ttf") format("truetype"),
    url("../assets/fonts/.svg#Gotham-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

$purple: #5f2760;

::selection {
  color: transparent;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  top: 50%;
  color: #f1f1f1;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px 20px 20px;
  text-align: center;
  height: 100%;
  .profile-pic {
    text-align: center;
  }
  .links-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    a {
      -webkit-box-shadow: 1px 9px 19px 3px rgba(0, 0, 0, 0);
      -moz-box-shadow: 1px 9px 19px 3px rgba(0, 0, 0, 0);
      box-shadow: 1px 9px 19px 3px rgba(0, 0, 0, 0);
      display: inline-block;
      color: white;
      text-decoration: none;
      font-size: 25px;
      padding: 10px 0;
      background: $purple;
      font-weight: normal;
      width: 100%;
      max-width: 375px;
      margin: 10px auto;
      border-radius: 50px;
      flex: 1;
      transition: all linear 150ms;
      height: 50px;
      &:hover {
        background: url("../assets/button.gif") no-repeat;
        background-position: center;
        background-size: cover; /*now this is known for the safari*/
        background-color: transparent;
        -webkit-box-shadow: 1px 9px 19px 3px rgba(0, 0, 0, 0.54);
        -moz-box-shadow: 1px 9px 19px 3px rgba(0, 0, 0, 0.54);
        box-shadow: 1px 9px 19px 3px rgba(0, 0, 0, 0.54);
        transition: transform 150ms ease-in all;
        text-shadow: -0.4px -0.4px 0 #fff, 0.4px -0.4px 0 #fff,
          -0.4px 0.4px 0 #fff, 0.4px 0.4px 0 #fff;

        transition: all linear 150ms;
        padding: 9px 0;
        height: 50px;
        font-size: 27px;
      }
    }
  }
}

h1 {
  font-size: 25px;
  margin: 15px 0 50px;
}

@media only screen and (max-height: 898px) {
  .content {
    padding-top: 15px;
    h1 {
      margin: 15px 0 15px;
      font-size: 20px;
    }
    .links-container {
      a {
        font-size: 22px;
        &:hover {
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen and (max-height: 769px) {
  .content {
    h1 {
      margin: 5px 0 5px;
      font-size: 18px;
    }
    .profile-pic {
      height: 30%;
      img {
        height: 77%;
      }
    }
  }
}

@media only screen and (max-height: 670px) {
  .content {
    .links-container {
      a {
        margin: 6px auto;
      }
    }
  }
}

@media only screen and (max-height: 570px) {
  .content {
    .links-container {
      a {
        margin: 7px auto;
        padding: 5px 0;
      }
    }
  }
}
